/* Root --------- --------- --------- ---------  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
hr {
  opacity: 0.3;
  margin: 40px 0;
  width: 580px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: white;
  padding-left: 15px;
  height: 125px;
}

.hero h1 {
  font-size: 2rem;
  text-shadow: #444;
}

.logo {
  padding-right: 15px;
  display: inline-flex;
}

.logo img {
  height: 80px;
  filter: drop-shadow(0 0 0.75rem --grey);
}

.intro-description {
  margin-bottom: 20px;
}

.intro-description h2 {
  font-size: 1.5rem;
}

/* Universal properties --------- --------- --------- ---------  */
.five-day-reco #single-product:first-child,
#nav-items ul li:first-child,
.current-reco-container #single-product:first-child,
#favourites-container #single-product:first-child,
#current-hourly div:first-child {
  margin-left: 0;
}
.five-day-reco #single-product:last-child,
#nav-items ul li:last-child,
.current-reco-container #single-product:last-child,
#favourites-container #single-product:last-child,
#current-hourly div:last-child {
  margin-right: 0;
}

/* Intro Page --------- --------- --------- ---------  */
.intro.inactive {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.intro h1 {
  text-align: center;
  margin: 15px 0;
}

#intro-form input {
  text-indent: 10px;
}

#intro-form {
  display: grid;
  grid-template: 40px 40px 40px 40px/ 300px 300px;
  gap: 15px;
}

#form-submit:disabled {
  opacity: 0.2;
  cursor: default;
}

#form-submit {
  opacity: 1;
  cursor: pointer;
  grid-column: 1/3;
}

#form-submit:hover {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

/* Remove toggle buttons for input with type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Stylizes the dropdown menu */
.select-dropdown,
.select-status {
  font-size: 2.2rem;
  color: #444;
  padding: 12px;
  width: 300px;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--grey);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../images/select-arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

/* MAIN parent container (holds all HTML pages) --------- --------- --------- ---------  */
.main-parent.inactive {
  display: none;
}

/* Nav items */
#nav-items.inactive {
  display: none;
}

nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* Weather nav button */
#wearther-nav {
  font-size: 20px;
  background-color: transparent;
  border: none;
}

/* Favorites nav button */
#favorites-nav {
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

#nav-items ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#nav-items ul li:nth-child(2) {
  cursor: pointer;
  margin: 0 5px;
}

#nav-items ul li:nth-child(1) {
  cursor: default;
  user-select: none;
}

.data h1 {
  text-align: center;
}

#data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

/* Main container hero ---- ---- ----*/
#current-weather-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#current-weather-hero img {
  width: 200px;
  margin-right: 20px;
}
#current-temp-container {
  display: flex;
  align-items: center;
}

#current-temp-container h1 {
  font-size: 35px;
  margin: 0 10px;
}

#current-temp-container img {
  width: 80px;
  margin-left: 5px;
}
#current-desc {
  display: flex;
  align-items: center;
}

#current-desc p {
  width: 450px;
}

/* Hourly ---- ---- ----*/
#current-hourly {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

#current-hourly div {
  margin: 0 30px;
}

#current-hourly img {
  width: 70px;
  margin-top: 5px;
}

.hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Amazon listings ---- ---- ----*/
.amazon-listings {
  margin-bottom: 60px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#amazon-header {
  display: none;
}
.amazon-listings h5 {
  /* Header */
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.amazon-listings #product-title {
  width: 150px;
  font-size: 13px;
  margin-bottom: 5px;
}

.amazon-listings #product-link {
  text-decoration: underline;
  font-size: 15px;
}

.current-reco-container {
  display: flex;
}

.current-reco-container img {
  height: 156px;
  width: 125px;
  object-fit: cover;
}

.current-reco-container .single-product {
  margin: 0 5px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 10%);
}

#product-img-container {
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
}

.current-reco-container .star-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* Five day forecast ---- ---- ----*/
.five-day-reco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five-day-reco-container {
  display: flex;
  align-items: center;
}

.five-day-reco-container p {
  font-size: 15px;
  margin-bottom: 5px;
}

.five-day-reco img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.five-day-reco #single-product {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Favourites page  --------- --------- --------- ---------  */
.favourites.inactive {
  display: none;
}

.favourites {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.favourites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.favourites h1 {
  text-align: center;
}

#favourites-container {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#favourites-container .fav-single-product {
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 52px;
}

#favourites-container #product-link {
  color: blue;
  text-decoration: underline;
  font-size: 16px;
}

#favourites-container .remove-fav {
  margin-top: 5px;
  font-size: 13px;
}
#favourites-container img {
  width: 105px;
  height: 70%;
  object-fit: cover;
}

#favourites-container #product-title {
  width: 150px;
  font-size: 13px;
  margin-bottom: 5px;
}

/* Main data page (Clothing Recommendations)  --------- --------- --------- ---------  */
.data.inactive {
  display: none;
}

/* Reset button  --------- --------- --------- ---------  */
#reset-data {
  font-size: 156x;
  opacity: 0.8;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#reset-data-desc {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 50px;
}
